@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300); // Open Sans font
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);   // Condensed

@mixin retina-background($url, $type:png) {
  background-image: url("#{$url}.#{$type}");
  background-image: -webkit-image-set(url("#{$url}.#{$type}") 1x,
                            url("#{$url}@2x.#{$type}") 2x);
  background-repeat: no-repeat;
}

body {
  background-color: #f2f4f6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header h1 {
  font-family: 'Courgette', serif;
  font-size: 60px;
  color: #aaa;
  white-space: nowrap;
  margin: 50px auto;

  span {
    margin: 0 10px;
    color: #f77;
  }
}

header h2 {
  font-size: 20px;
  color: #a9b2bc;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: block;

  a {
    color: #3085d6;
  }
}

.sweet-alert {
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  input {
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

h3 {
  font-size: 28px;
  color: #c7ccd1;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 100px;
  text-align: center;
  position: relative;

  &.download-section {
    margin-top: 50px;
    padding-top: 40px;
  }

  &::after {
    content: '';
    background-color: #e2e5e8;
    height: 4px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    margin-top: -50px;
    border-radius: 2px;

    @media all and (max-width: 740px) {
      width: auto;
      left: 20px;
      right: 20px;
      margin-left: 0;
    }
  }
}

a {
  text-decoration: none;
}

p {
  max-width: 826px;
  margin: 30px auto;
  font-size: 17px;
  font-weight: 300;
  color: #848d94;
  line-height: 25px;
  text-align: left;

  &.center {
    text-align: center;
  }

  strong {
    color: #8a8f94;
    font-weight: 600;
  }

  a {
    color: #9ecadf;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }

    &.twitter {
      color: #5eaade;
    }

    &.github {
      color: #323131;
    }
  }
}

button,
.button {
  $btn-blue: #3085d6;
  $btn-gray: #d0d0d0;

  background-color: $btn-blue;
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($btn-blue, 3%);
  }

  &:active {
    background-color: darken($btn-blue, 10%);
  }

  &.cancel {
    background-color: $btn-gray;

    &:hover {
      background-color: darken($btn-gray, 3%);
    }

    &:active {
      background-color: darken($btn-gray, 10%);
    }
  }

  &.download {
    position: fixed;
    right: 30px;
    top: 0;
    background-color: rgba(#fff, .9);
    color: #abcada;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 3;

    @media all and (max-width: 1278px) {
      display: none;
    }
  }
}

.center-container {
  max-width: 700px;
  margin: 70px auto;
}

pre {
  background-color: #49483e;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;

  .str {
    color: #e6db74;
  }

  .func {
    color: #66d9ef;
  }

  .val {
    color: #a381ff;
  }

  .tag {
    color: #e92772;
  }

  .attr {
    color: #a6e22d;
  }
}

.showcase {
  background-color: #eceef0;
  padding: 20px;
  display: inline-block;
  width: 383px;
  vertical-align: top;
  position: relative;

  @media all and (max-width: 865px) {
    margin: 5px auto;
    padding: 46px 20px;
  }
  @media all and (max-width: 440px) {
    width: auto;
  }

  h4 {
    font-size: 16px;
    color: #bcbcbc;
    line-height: 22px;
    margin: 0 auto;
    font-weight: 400;
  }

  &.sweet h4 {
    font-family: 'Courgette', serif;
    font-size: 24px;
    color: #aaa;

    span {
      margin: 0 4px;
      color: #f77;
    }
  }

  h5 {
    margin-bottom: -7px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(194, 194, 194);
  }

  button {
    margin-bottom: 10px;
  }

  .vs-icon {
    @include retina-background('images/vs_icon');
    width: 69px;
    height: 69px;
    position: absolute;
    right: -34px;
    top: 60px;
    z-index: 2;

    @media all and (max-width: 865px) {
      margin: 5px auto;
      right: auto;
      left: 50%;
      margin-left: -35px;
      top: auto;
      bottom: -35px;
    }
  }
}


.examples {
  list-style-type: none;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
  @media all and (max-width: 758px) {
    width: auto;
  }

  li {
    padding-left: 0;
  }

  .ui,
  pre {
    display: inline-block;
    vertical-align: top;

    @media all and (max-width: 758px) {
      display: block;
      max-width: none;
      margin: 0 auto;
    }
  }

  .ui {
    width: 300px;
    text-align: center;

    button {
      margin-top: 12px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  pre {
    max-width: 370px;
    margin-top: 67px;

    @media all and (max-width: 758px) {
      margin-top: 16px !important;
      margin-bottom: 60px;
    }
  }

  .warning pre {
    margin-top: 93px;
  }
}


ol {
  max-width: 700px;
  margin: 70px auto;
  list-style-position: inside;
  padding-left: 0;

  li {
    color: #a7adb2;

    p {
      margin-bottom: 10px;
    }
  }
}


table {
  width: 700px;
  font-size: 14px;
  color: #8a8f94;
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse;
  @media all and (max-width: 750px) {
    width: auto;
    margin: 10px 20px;
  }

  th {
    background-color: #fff;
    padding: 9px;
    color: rgb(172, 185, 190);
    font-weight: 400;
    text-align: center;
    position: relative;

    .border-left,
    .border-right {
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      top: 0;
      left: -17px;
      width: 37px;
      height: 37px;
    }

    .border-right {
      left: auto;
      right: -17px;
    }

    @media all and (max-width: 750px) {
      &:nth-child(2) {
        display: none;
     }
    }
  }

  td {
    padding: 10px 20px;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @media all and (max-width: 750px) {
      &:nth-child(2) {
        display: none;
     }
    }
    @media all and (max-width: 360px) {
      padding: 10px 4px;

      b {
        font-size: 13px;
      }
    }
  }
}
